<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookWithEase</title>
    <link rel="stylesheet" href="~/css/confirmb.css">
    <script src="https://kit.fontawesome.com/8dae890511.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="welcome-sectionb" id="home">
        <div class="container3">
            <form class="reservation-form">
                <div class="form-section">
                    <h2>Room Details</h2>
                    <div class="column2">
                        <div class="form-row">
                            <label for="roomNumber">Room Number:</label>
                            <input type="number" id="roomNumber" name="roomNumber" required readonly>
                        </div>
                        <div class="form-row">
                            <label for="type">Type:</label>
                            <input type="text" id="roomtype" name="roomtype" required readonly>
                        </div>
                    </div>
                    <div class="column2">
                        <div class="form-row">
                            <label for="pricePerNight">Price per Night:</label>
                            <input type="number" id="pricePerNight" name="pricePerNight" required readonly>
                        </div>
                        <div class="form-row">
                            <label for="floor">Floor:</label>
                            <input type="number" id="floor" name="floor" required readonly>
                        </div>
                    </div>
                </div>
                <div class="form-section">
                    <h2>Contact Information</h2>
                    <div class="column2">
                        <div class="form-row">
                            <label for="firstName">First Name:</label>
                            <input type="text" id="firstName" name="firstName" placeholder="Your Firstname">
                        </div>
                        <div class="form-row">
                            <label for="lastName">Last Name:</label>
                            <input type="text" id="lastName" name="lastName" placeholder="Your LastName">
                        </div>
                    </div>
                    <div class="column2">
                        <div class="form-row">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" placeholder="Your Email">
                        </div>
                        <div class="form-row">
                            <label for="phone">Phone:</label>
                            <input type="tel" id="phone" name="phone" placeholder="Your Phone Number">
                        </div>
                    </div>
                </div>
                <div class="form-section bookingdates">
                    <h2>Booking Dates</h2>
                    <div class="column2">
                        <div class="form-row">
                            <label for="arrival">Arrival Date:</label>
                            <input type="date" id="arrival" name="arrival" required readonly>
                        </div>
                        <div class="form-row">
                            <label for="departure">Departure Date:</label>
                            <input type="date" id="departure" name="departure" required readonly>
                        </div>
                    </div>
                    <div class="column2">
                        <div class="form-row">
                            <label for="dateBooked">Date Booked:</label>
                            <input type="date" id="dateBooked" name="dateBooked" required readonly>
                        </div>
                        <div class="form-row">
                            <label for="totalPrice">Total Price:</label>
                            <input type="number" id="totalPrice" name="totalPrice" required readonly>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </section>
</body>
</html>

