<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BookWithEase</title>
    <link rel="stylesheet" href="~/css/bpage.css">
    <script src="https://kit.fontawesome.com/8dae890511.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <section class="welcome-sectionb" id="home">
    <div class="container3">
        <form class="reservation-form" asp-action="AvailableRooms" asp-controller="Booking" method="post">
            <div class="form-row1">
                <label for="arrival">Arrival:</label>
                <input type="date" id="checkIn" name="checkIn"  required>
            </div>
            <div class="form-row1">
                <label for="departure">Departure:</label>
                    <input type="date" id="checkOut" name="checkOut"  required>
            </div>
            <div class="form-row1">
                <label for="guests">Number of Guests:</label>
                <input type="number" id="guests" name="guests" min="1" required>
            </div>
            <div class="form-submit">
                <input type="submit" value="Check Availability">
            </div>
        </form>
    </div>
</section>
</body>
</html>